<div class="container">
  <h1>{{title | titlecase}}</h1>
  <span>{{message.display}}</span>
  <input type="number" name="" id="" min="1" value="1" (keypress)="isNumberKey($event)" pattern="^[0-9]+" [(ngModel)]="time">
  <app-timer [time]="time" (state)="onState($event)"></app-timer>
</div>
