:host {
    &>div.container {
        display: flex;
        width: 30%;
        margin: auto;
        font-family: sans-serif;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1, span, input, app-timer {
            flex: 1 1 auto;
            text-align: center;
        }
        input {
            max-width: 30%;
            height: 20px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            font-size: 20px;
            background-color: #333;
            color: #fff;
        }
    }
}